html, body, header, main, footer {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 4rem;
    --footer-height: 3rem;
    --main-min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

header {height: var(--header-height);}
main {min-height: var(--main-min-height);}
footer {height: var(--footer-height);}

header nav {height: 100%;}

