nav.navbar.navbar-dark.bg-dark.shadow
    button(id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none" type="button")
        <span></span>
        <span></span>
        <span></span>
    a.navbar-brand.ms-3(href=(homeLink || '#/'))
        img.me-2(src=(logo || "media/logo.svg") alt="logo" width="32" height="32")
        span= brand
    ul.nav.navbar-nav.me-3.flex-row

