nav.navbar.navbar-dark.bg-dark.shadow
    a.navbar-brand.ms-3(href="#/")
        if logoFormat == "svg"
             img.me-2(src="img/index.svg" alt="logo" width="32" height="32")
        else
             img.me-2(src="img/index.png" alt="logo" width="32" height="32")
        span= brand
    ul.nav.navbar-nav.me-3.flex-row

