doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')

        if withBootstrap
            link(rel='stylesheet' href='vendors/css/bootstrap.min.css')
            script(defer src='vendors/js/bootstrap.bundle.min.js')

        if headerMainFooter
            link(rel='stylesheet' href='css/header-main-footer.css')

        if withAsideMenu
            link(rel='stylesheet' href='css/with-aside-menu.css')

        if logoFormat == "svg"
            link(rel='icon' type='image/svg+xml' href='img/index.svg')
        else
            link(rel='icon' type='image/png' href='favicon.png')

        if withSvelte
            link(rel='stylesheet' href='build/bundle.css')
            script(defer src='build/bundle.js')

        link(rel='stylesheet' href='css/index.css')

        title= title

    body
        header
            if brandWithEndIcons
                include headers/brand-with-end-icons
        main
            if withAsideMenu
                include asides/aside-and-article
        footer.footer
            if footerWithCopyright
                include footers/footer-with-copyright

