aside.p-3.bg-light
    each section in asideLinks
        a.d-flex.align-items-center.mb-3.mt-3.mb-md-0.me-md-auto.text-decoration-none.link-dark(href=section.link)
            span.fs-5= section.title 
        hr
        ul.nav.nav-pills.flex-column.mb-auto
article &nbsp;

