.docs-wrapper
    aside#docs-sidebar.docs-sidebar
        .top-search-box.d-lg-none.p-3
        #docs-nav.docs-nav.navbar
            each section in asideLinks
                a.d-flex.align-items-center.mb-3.mt-3.mb-md-0.me-md-auto.text-decoration-none.link-dark(href=section.link)
                    span.fs-5= section.title 
                ul.section-items.list-unstyled.nav.flex-column.pb-3

.docs-content
    .container
        article.docs-article
            include:markdown-it(html) ../../../README.md
        footer
            include ../footers/simple-copyright

