.docs-wrapper
    aside#docs-sidebar.docs-sidebar
        .top-search-box.d-lg-none.p-3
        #docs-nav.docs-nav.navbar
            ul.section-items.list-unstyled.nav.flex-column.pb-3

.docs-content
    .container
        article.docs-article

