aside.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-light
    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-decoration-none.link-dark(href="#help")
        span.fs-4= asideTitle
    hr
    ul.nav.nav-pills.flex-column.mb-auto
article &nbsp;

